{% extends 'layout/cabinet.html.twig' %}

{% block title %}Cabinet Page title{% endblock %}
{% block h1 %}
  Good day {{ user.username }}
{% endblock %}
{% block main %}
  <div id="app">
    <div class="row">
      <div class="col s6 l4">
        <div class="black-text card list">
          <div class="card__header">
            Weather
          </div>
          <div class="card-content white-text">
            <weather></weather>
          </div>
        </div>
      </div>
      <div class="col s6 l4">
        <a class="black-text card list" href="{{ path('cabinet_news') }}">
          <div class="card__header">
            News
          </div>
          <div class="card-content white-text">
            {% if news %}
              <h5 class="h5 center-align">{{ news.title }}</h5>
              <p class="p black-text">{{ news.content }}</p>
            {% endif %}
          </div>
        </a>
      </div>
      <div class="col s6 l4">
        <a class="black-text card list" href="{{ path('cabinet_sport') }}">
          <div class="card__header">
            Sport
          </div>
          <div class="card-content white-text">
              <h5 class="h5 center-align">Sport Header</h5>
              <p class="p black-text">A team did very well!!!</p>
          </div>
        </a>
      </div>
      <div class="col s6 l4">
        <a class="black-text card list" href="{{ path('cabinet_photos') }}">
          <div class="card__header">
            Photos
          </div>
          <div class="card-content white-text">
            {% if images is defined %}
              <div class="row">
                {% for image in images %}
                  <div style="margin-bottom: 20px;" class="col s6">
                    <div class="card-image">
                      <img src="{{ image.image_link|e }} " alt="{{ image.image_name|e }} ">
                    </div>
                  </div>
                {% endfor %}
              </div>

            {% endif %}
          </div>
        </a>
      </div>
      <div class="col s6 l4">
        <a href="{{ path('cabinet_task') }}" class="black-text card list" >
          <div style="display: block;"  class="card__header black-text">
            Tasks
          </div>
          <div class="card-content white-text">
            {% if tasks is defined %}
            <ul class="collection with-header">
                {% for task in tasks %}
                  <li class=""><div>{{ task.title }}</div></li>
                {% endfor %}
            </ul>
            {% endif %}
          </div>
        </a>
      </div>
      <div class="col s6 l4">
        <div class="black-text card list">
          <div class="card__header">
            Clothes
          </div>
          <div class="card-content white-text">
            <div id="canvas-holder">
              <canvas id="chart-area"></canvas>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>


{% endblock %}
{% block js %}
  <script src="https://cdn.jsdelivr.net/npm/vue"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.7.2/Chart.bundle.min.js"></script>
  <script src="/assets/js/vendor.js"></script>
  <script src="/assets/js/app.js"></script>
{% endblock %}
{% block vue %}
  <template id="v-weather-component">
    <div>
      <template v-if="error.length > 0">
        <p class="p red-text">
          ${error}
        </p>
      </template>
      <template v-if="loading">
        <div class="spinner">
          <div class="double-bounce1"></div>
          <div class="double-bounce2"></div>
        </div>
      </template>
      <div v-if="weather.cod">
        <div class="row">
          <div class="col s5">
            <img :src="iconUrl" alt="">
          </div>
          <div class="col s7 center-align black-text weather__temp">
            ${weather.main.temp} degrees
          </div>
        </div>
        <div class="row">
          <div class="col s12 center-align black-text weather__city">
            ${weather.name}
          </div>
        </div>
      </div>
    </div>
  </template>
{% endblock %}
