{% extends 'layout/default.html.twig' %}
{% block css %}

{% endblock %}

{% block title %}Enter title{% endblock %}

{% block meta %}
  <meta name="description" content="Enter description"/>
{% endblock %}

{% block content %}
  <div class="row">
    <div class="s12">
      <h1 class="h1">
        Hackathon
      </h1>
    </div>
  </div>
  <div class="row">
    <span class="red-text">
      {{ error }}
    </span>
    <form method="post" action="{{ path('login') }}" class="col s12 form">
      <div class="row">
        <div class="input-field col s12 l6">
          <input id="username" name="login" type="text" class="validate white-text form__input">
          <label class="white-text" for="username">Username</label>
        </div>
        <div class="input-field col s12 l6">
          <input id="password" name="password" type="password" class="validate white-text form__input">
          <label class="white-text" for="password">Password</label>
        </div>
      </div>
      <div class="row s12 center-align">
        <button class="btn-large yellow darken-1 waves-effect waves-light form__button" type="submit" name="action">
          Login
        </button>
      </div>
    </form>
  </div>
{% endblock %}
{% block footer %}
  <div class="row s12">
    <div class="white-text">
      New to the hackathon? <a class="yellow-text" href="{{ path('register') }}">Sign up</a>
    </div>

  </div>
{% endblock %}

{% block js %}
  <script src="assets/js/forms.js"></script>
{% endblock %}