{% extends 'layout/default.html.twig' %}

{% block content %}
  <div class="row">
    <div class="s12">
      <h1 class="h1">
        Hackathon
      </h1>
    </div>
  </div>
  <div class="row">
    <form method="post" enctype="multipart/form-data" action="{{ path('register') }}" class="col s12 form">
      <div class="row">
        <div class="input-field col s12 l6">
          <input value="{{ form.username }}" id="username" name="login" type="text" class="validate white-text form__input">
          <label class="white-text" for="username">Username</label>
          {% if errors.username is defined %}
            {{ errors.username }}
          {% endif %}

        </div>
        <div class="input-field col s12 l6">
          <input value="{{ form.email }}" id="email" name="email" type="email" class="validate white-text form__input">
          <label class="white-text" for="email">Email</label>
          {% if errors.email is defined %}
            {{ errors.email }}
          {% endif %}
        </div>
      </div>
      <div class="row">
        <div class="input-field col s12 l6">
          <input id="password" name="password" type="password" class="validate white-text form__input">
          <label class="white-text" for="password">Password</label>
          {% if errors.password is defined %}
            {{ errors.password }}
          {% endif %}
        </div>
        <div class="input-field col s12 l6">
          <input id="repeat" name="repeat" type="password" class="validate white-text form__input">
          <label class="white-text" for="repeat">Confirm Password</label>
          {% if errors.confirm is defined %}
            {{ errors.confirm }}
          {% endif %}
        </div>
      </div>
      <div class="row s12 center-align">
        <div class="image-upload">
          <label for="file-input">
            <span class="image-upload__text">
              Add picture
            </span>
            <img src="assets/img/Add_picture.png"/>
          </label>

          <input id="file-input" name="image" type="file"/>
          {% if errors.image is defined %}
            {{ errors.image }}
          {% endif %}
        </div>
      </div>
      <div class="row s12 center-align">
        <button class="btn-large yellow darken-1 waves-effect waves-light form__button" type="submit" name="action">
          Register
        </button>
      </div>
    </form>
  </div>
{% endblock %}

{% block js %}
  <script src="/assets/js/forms.js"></script>
{% endblock %}