html {
  font-size: 28px;
  @media only screen and (min-width: 993px) {
    font-size: 32px;
  }
}
.btn {
  font-size: 0.6rem;
}
.g-core-image-upload-btn {
  overflow: hidden !important;
  width: 100% !important;
  height: 100% !important;
  position: absolute !important;
  opacity: 0 !important;
}
.container {
  width: 90% !important;
}
.main-nav {
  padding: 0 2rem;
}
.brand-logo {
  font-size: 1rem!important;
}

.h1 {
  text-align: center;
  font-size: 2rem;
  font-weight: bold;
  color: #ffffff;
  padding: 0;
  margin: 1rem 0;
  @media only screen and (min-width: 993px) {
    font-size: 3rem;
  }
}
.fileinput {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 1111;
  width: 100%;
  height: 100%;
  opacity: 0;
}
.h5 {
  color: #000;
  font-size: 0.8rem;
  padding: 0;
  margin: 0 0 0.3rem 0;
}
.p {
  color: #000;
  font-size: 0.6rem;
}

.app {
  display: flex;
  min-height: 100vh;
  flex-direction: column;
  background-image: url("/assets/img/Background.jpg");
  background-size: cover;
  &__content {
    flex: 1;
  }
  &__footer {
    text-align: center;
    padding: 3rem 0;
  }
}

.image-upload {
  position: relative;
  &__text {
    color: #ffffff;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%)
  }
  img {
    cursor: pointer;
  }
  input {
    display: none;
  }
}

.form {
  &__input {
    border-color: #ffffff!important;
    background-color: transparent!important;
    margin: 0!important;
  }
  &__button {
    margin-top: 2rem;
    font-size: 0.7rem;
    text-transform: capitalize;
    border-radius: 1rem;
    color: #000;
  }
}

.card {
  display: block;
  border: 4px solid #ffe65e;
  border-radius: 0.25rem;
  box-shadow: none;
  background-color: rgba(198, 219, 251, .6);
  &__header {
    text-align: center;
    padding: 0.35rem 0;
    background-color: #ffe65e;
  }
  &-image {
    background-color: #fff;
    border: 4px solid #ffe65e;
    border-radius: 0.25rem;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
  }
  .card-content {
    padding: 10px 40px;
  }
}

.weather {
  &__temp {
    font-size: 0.7rem;
  }
  &__city{
    font-size: 0.9rem;
  }
}

.list {
  min-height: 300px;
}

.collection {
  margin: 0;
  border: none;
  font-size: 0.8rem;
  color: #000;
}

.todo-list li .toggle {
  text-align: center;
  height: 40px;
  width: 40px;
  position: absolute;
  top: 0;
  bottom: 0;
  margin: auto 0;
  border: none;
  -webkit-appearance: none;
}

.todo-list li:last-child {
  border-bottom: none;
}
.todo-list li {
  position: relative;
  font-size: 24px;
  border-bottom: 1px solid #ededed;
}
.todo-list li.completed label {
   color: #d9d9d9;
   text-decoration: line-through;
 }
.todo-list li .destroy {
  display: none;
  position: absolute;
  top: 0;
  right: 10px;
  bottom: 0;
  width: 40px;
  height: 40px;
  margin: auto 0;
  font-size: 30px;
  color: #cc9a9a;
  margin-bottom: 11px;
  transition: color 0.2s ease-out;
}
.todo-list li .checkbox {
  word-break: break-all;
  margin-left: 45px;
  display: block;
  line-height: 1.2;
  transition: color 0.4s;
  right: 0;
  position: absolute;
  float: right;
  top: 50%;
  height: 40px;
  transform: translateY(-50%);
}
[type="checkbox"].filled-in:not(:checked) + label:after {
  height: 40px;
  width: 40px;
  background-color: transparent;
  border: 2px solid #5a5a5a;
  top: 0;
  z-index: 0
}
[type="checkbox"].filled-in:checked + label:after {
  top: 0;
  height: 40px;
  width: 40px;
  border: 2px solid #26a69a;
  background-color: #26a69a;
  z-index: 0;
}
[type="checkbox"].filled-in:checked + label:before {
  top: 0;
  left: 2px;
  width: 16px;
  height: 26px;
  border-top: 2px solid transparent;
  border-left: 2px solid transparent;
  border-right: 2px solid #fff;
  border-bottom: 2px solid #fff;
  transform: rotateZ(37deg);
  transform-origin: 100% 100%;
}
.card-image {
  &:hover {
    .card-image__delete_icon {
      visibility: visible;
    }
  }
}
.card-image__delete_icon {
  visibility: hidden;;
  background-image: url("/assets/img/delete.png");
  width: 32px;
  height: 32px;
  position: absolute;
  top: 10px;
  right: 10px;
  display: block;
}
.task-input-label {
  display: block;
  color: #000;
  background-color: transparent;
  border: none;
  border-radius: 0;
  outline: none;
  height: 3rem;
  line-height: 3rem;
  width: 100%;
  font-size: 1rem;
  padding: 0;
  box-shadow: none;
  box-sizing: content-box;
  transition: all 0.3s;
  border-color: #ffffff !important;
  margin: 0 !important;
}
.edit {
  display: none;
}

.editing {
  .task-input-label {
    display: none;
  }
  .edit {
    display: block;
  }
}

.spinner {
  width: 40px;
  height: 40px;

  position: relative;
  margin: 60px auto;
}

.double-bounce1, .double-bounce2 {
  width: 100%;
  height: 100%;
  border-radius: 50%;
  background-color: limegreen;
  opacity: 0.6;
  position: absolute;
  top: 0;
  left: 0;

  -webkit-animation: sk-bounce 2.0s infinite ease-in-out;
  animation: sk-bounce 2.0s infinite ease-in-out;
}

.double-bounce2 {
  -webkit-animation-delay: -1.0s;
  animation-delay: -1.0s;
}

@-webkit-keyframes sk-bounce {
  0%, 100% { -webkit-transform: scale(0.0) }
  50% { -webkit-transform: scale(1.0) }
}

@keyframes sk-bounce {
  0%, 100% {
    transform: scale(0.0);
    -webkit-transform: scale(0.0);
  } 50% {
      transform: scale(1.0);
      -webkit-transform: scale(1.0);
    }
}