{% extends 'layout/cabinet.html.twig' %}
{% block title %}Cabinet Images title{% endblock %}
{% block h1 %}
  Photos
{% endblock %}
{% block main %}
  <div id="image" class="cards">
    <images-list></images-list>
  </div>
{% endblock %}

{% block js %}
  <script src="https://cdn.jsdelivr.net/npm/vue@2.5.13/dist/vue.js"></script>
  <script src="https://unpkg.com/vuex@3.0.1/dist/vuex.js"></script>
  <script src="/assets/js/vendor.js"></script>
  <script src="/assets/js/image.js"></script>
{% endblock %}

{% block vue %}
  <template id="v-images-list-component">
    <div class="row">
      <div style="margin-bottom: 30px;" class="col s6 l4">
        <div style="height: 300px" class="card-image center-align">
          <img src="/assets/img/Plus_button.png" alt="Add">
          <vue-core-image-upload
            class="btn btn-primary"
            :crop="false"
            @imageuploaded="imageuploaded"
            :data="data"
            :max-file-size="5242880"
            url="/cabinet/photos/upload" >
          </vue-core-image-upload>
        </div>
      </div>
      <div style="margin-bottom: 30px;" :key="image.id" v-for="image in images" class="col s6 l4">
        <div style="height: 300px; overflow: hidden" class="card-image">
          <img :src="image.image_link" :alt="image.image_name">
          <a @click="handleRemove(image.id)" style="cursor: pointer;" class="card-image__delete_icon"></a>
        </div>
    </div>
    </div>
  </template>
{% endblock %}
