{% extends 'layout/cabinet.html.twig' %}

{% block title %}Cabinet News title{% endblock %}
{% block h1 %}
  Latest News
{% endblock %}

{% block main %}
  <div class="cards">
    <div class="row">
      <div class="col s12 l2">
      </div>
      <div class="col s12 l8">
        <div class="card-image">
          <img style="max-width: 100%" src="{{ news.image }}">
        </div>
      </div>
      <div class="col s12 l2">
      </div>
    </div>

    <div class="row">
      <div class="col s12 center-align white-text">
        <h5 class="h5 white-text">{{ news.title }}</h5>
      </div>
    </div>
    <div class="row">
      <div class="col s12 center-align white-text">
        <p class="p white-text">{{ news.content }}</p>
      </div>
    </div>
  </div>

{% endblock %}
