{% extends 'layout/cabinet.html.twig' %}

{% block title %}Cabinet Page title{% endblock %}
{% block h1 %}
  Sport
{% endblock %}

{% block main %}
  <div id="sport" class="cards">
    <div class="row">
      <div class="col s12 l2">
      </div>
      <sport-search></sport-search>
      <div class="col s12 l2">
      </div>
    </div>
    <div class="row">
      <div class="col s12">
        <teams></teams>
      </div>
    </div>
  </div>

{% endblock %}
{% block js %}
  <script src="https://cdn.jsdelivr.net/npm/vue@2.5.13/dist/vue.js"></script>
  <script src="https://unpkg.com/vuex@3.0.1/dist/vuex.js"></script>
  <script src="/assets/js/vendor.js"></script>
  <script src="/assets/js/sport.js"></script>
{% endblock %}

{% block vue %}
  <template id="v-sport-search">
    <div class="input-field  col s12 l8">
      <input
        :disabled="loading"
        v-model="teamName"
        @change="selectHandler"
        placeholder="Input team name"
        id="team"
        type="text"
        name="team"
        class="validate white-text form__input">
      <label class="white-text" for="team"></label>
    </div>
  </template>
  <template id="v-sport-teams">
    <div>
      <ul v-if="loaded" class="collection">
        <li v-for="good in goods" class="collection-item">${good}</li>
      </ul>
    </div>
  </template>
{% endblock %}
