{% extends 'layout/cabinet.html.twig' %}

{% block title %}Cabinet Tasks title{% endblock %}
{% block h1 %}
  Tasks
{% endblock %}

{% block main %}
  <div id="task" class="cards">
    <div class="row">
      <div class="col s12 l1">
      </div>
      <div class="col s12 l10">
        <input class="new-todo form__input"
               autofocus autocomplete="off"
               placeholder="What needs to be done?"
               v-model="newTodo"
               @keyup.enter="addTodo">
        <section class="main" v-show="todos.length" v-cloak>
          <ul class="todo-list">
            <li v-for="todo in filteredTodos"
                class="todo"
                :key="todo.id"
                :class="{ completed: todo.status, editing: todo == editedTodo }">
              <div class="view">
                <input @click="handelToggle(todo.id)"  v-model="todo.status" type="checkbox" class="filled-in" :id="todo.id" checked="checked" />
                <label class="checkbox" :for="todo.id"></label>
                <button class="destroy" @click="removeTodo(todo)"></button>
              </div>
              <label class="task-input-label" for="" @click="editTodo(todo)">${ todo.title }</label>
              <input class="edit form__input" type="text"
                     v-model="todo.title"
                     v-todo-focus="todo == editedTodo"
                     @blur="doneEdit(todo)"
                     @keyup.enter="doneEdit(todo)"
                     @keyup.esc="cancelEdit(todo)">
            </li>
          </ul>
        </section>
      </div>

      <div class="col s12 l1">
      </div>
    </div>
  </div>

{% endblock %}
{% block js %}
  <script src="https://cdn.jsdelivr.net/npm/vue@2.5.13/dist/vue.js"></script>
  <script src="https://unpkg.com/vuex@3.0.1/dist/vuex.js"></script>
  <script src="/assets/js/vendor.js"></script>
  <script src="/assets/js/task.js"></script>
{% endblock %}

{% block vue %}
  <template id="v-task-component">
    <div class="input-field  col s12 l8">
      <input
        :disabled="loading"
        v-model="teamName"
        @change="selectHandler"
        placeholder="Input team name"
        id="team"
        type="text"
        name="team"
        class="validate white-text form__input">
      <label class="white-text" for="team"></label>
      <div class="sport__teams">
        <div class="spinner-layer spinner-yellow">
          <div class="circle-clipper left">
            <div class="circle"></div>
          </div>
          <div class="gap-patch">
            <div class="circle"></div>
          </div>
          <div class="circle-clipper right">
            <div class="circle"></div>
          </div>
        </div>
      </div>
    </div>
  </template>
{% endblock %}
