{% extends 'layout/default.html.twig' %}
{% block nav %}
  <nav class="yellow main-nav">
    <div class="nav-wrapper">
      <a href="/" class="brand-logo">Logo</a>
      <ul class="right hide-on-med-and-down">
        <li>
          <form method="post" action="{{ path('logout') }}">
            <button class="waves-effect waves-light btn" type="submit">Logout</button>
          </form>
        </li>
      </ul>
    </div>
  </nav>
{% endblock %}

{% block content %}
  <div class="row">
    <div class="s12">
      <h1 class="h1">
        {% block h1 %}
          Photos
        {% endblock %}
      </h1>
    </div>
  </div>
  {% block main %}{% endblock %}
{% endblock %}



