<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8"/>
  <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
  <title>{% block title %}{% endblock %} - App</title>
  <meta name="viewport" content="width=device-width, initial-scale=1"/>
  {% block meta %}{% endblock %}
  <link rel="stylesheet" href="/assets/css/styles.css">
  {% block css %}{% endblock %}
</head>
<body class="app">
<div class="app__content">
  <header>
    {% block nav %}{% endblock %}
  </header>
  <main class="container">
    {% block breadcrumbs %}{% endblock %}
    {% block content %}{% endblock %}
  </main>
  </div>
<footer class="app__footer">
  {% block footer %}{% endblock %}
</footer>
<script src="//code.jquery.com/jquery-3.1.1.min.js"></script>
<script src="/assets/js/global.js"></script>
<script src="/assets/js/initial.js"></script>

{% block vue %}{% endblock %}

{% block js %}{% endblock %}
</body>
</html>
